{{!-- <label for="set-servings">Enter servings desired:</label> --}}
{{!-- <input id="set-servings" class="set-servings" type="text" placeholder="8"> --}}
<button class="adjust-recipe" {{action "setDoubleUnits"}}>Double recipe serving quantities</button>
