{{#each items as |recipe-item|}}
  <li class="recipe-item">
    <span class="quantity">{{recipe-item.quantity}}</span>
    <span class="unit">{{recipe-item.unit}}</span>
    <span class="name">{{recipe-item.name}}</span>
  </li>
{{/each}}
