{{#each items as |item|}}
  <li class="item">
    <span class="quantity">{{item.quantity}}</span>
    <span class="unit">{{item.unit}}</span>
    <span class="name">{{item.name}}</span>
  </li>
{{/each}}
