<ul class="recipe-list">
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
  <li class="recipe-item"></li>
</ul>

{{outlet}}
