<ul class="recipe-list">
  <li class="recipe-item">
    <span class="quantity">1</span>
    <span class="unit">pound</span>
    <span class="name">Boneless chicken breast</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1</span>
    <span class="unit">cup</span>
    <span class="name">Sliced carrots</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1</span>
    <span class="unit">cup</span>
    <span class="name">Frozen green peas</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1/2</span>
    <span class="unit">cup</span>
    <span class="name">Sliced celery</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1/3</span>
    <span class="unit">cup</span>
    <span class="name">Butter</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1/3</span>
    <span class="unit">cup</span>
    <span class="name">Chopped onion</span>
  </li>
  <li class="recipe-item">
    <span class="quantity">1/3</span>
    <span class="unit">cup</span>
    <span class="name">All-purpose flour</span>
  </li>
</ul>
